
.dashboardReloadButton {
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 3px;
	border: 1px solid transparent;
	cursor: pointer;
}

.dashboardReloadButton:HOVER {
	border: 1px solid white;
}

.dashboardTimeSinceLastUpdateLabel {
	width: 60px;
	font-size: 0.7em;	
	margin-left: 10px;
	margin-top: 8px;
}

.innerAlertPane {
	margin: 5px;
	padding: 5px;
	border: 1px solid #FF8080;
	background-color: #FFE0E0;
	color: #FF4040;	
}

.leftMenuComponent {
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #FFFFFF;
	padding: 0px;
	border: 1px solid #CCE;
	border-top-right-radius: 10px;
}

.leftMenuTitle {
	/* background: #A5D1F3; */
	background: #D0D0D0;
	color: #808080;
	font-size: 1.5em;
	border-top-right-radius: 10px;
	padding-left: 5px;
}

.outerLayoutLeftBar {
	background-color: #E0E0E0;
	overflow-y: auto;
}

.messageActionLine {
	color: #606060;
}

.methodRootElementBlock {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Has tooltip */
.methodRootElementBlock {
	border-bottom: 1px dotted #88F;
}

.monitorRuleActiveTargetKey {
	font-size: 0.8em;
	color: #808080;
}

.monitorRuleActiveTargetValue {
}

/*
FYI- These selectors also have colours defined later
*/
.outcomeLabelSuccess, .outcomeLabelFault, .outcomeLabelFail, .outcomeLabelSecFail {
	font-size: 0.8em;
	font-weight: bold;	
}

.spinnerElement {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.spinnerStatusMessageStyle {
	white-space: nowrap;
	font-size: 14px;
	font-family: Arial;
	color: #FF0000;
}

UL.tableEmbeddedUnorderedList {
	padding-left: 20px;	
}

UL.tableEmbeddedUnorderedList LI {
	text-indent: -7px;
}

.tooltipPopup {
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	border: 1px solid #333;
	max-width: 400px;
	box-shadow: 4px 4px 3px -1px #bbb;
}

.topPanelNodeStatusLabelContents {
	position: absolute;
	bottom: 2px;
	right: 5px;
}

.topPanelNodeStatusLabel {
	font-size: 0.8em;
	color: #ACC;	
}

TABLE.usageTooltipTable {
	border-spacing: 2px;
    font-size: 0.8em !important;	
}

.usageTooltipTableHeaderLabel {
	text-align: center;
}

TD.usageTooltipTableSuccessColumn, TD.usageTooltipTableFaultColumn, 
TD.usageTooltipTableFailColumn, TD.usageTooltipTableSecFailColumn,
TD.usageTooltipTableLatencyColumn,
TD.usageTooltipTableNormalColumn,
TD.monitorRuleActiveCheckTooltipTableColumnHeader {
	background: #444;
    font-size: 0.8em !important;
    font-weight: bold !important;	
}

TD.usageTooltipTableSuccessColumn, .outcomeLabelSuccess {
	color: #0C0;
}

TD.usageTooltipTableFaultColumn, .outcomeLabelFault {
	color: #66C;
}

TD.usageTooltipTableFailColumn, .outcomeLabelFail {
	color: #F00;
}

TD.usageTooltipTableSecFailColumn, .outcomeLabelSecFail {
	color: #FA0;
}

TD.usageTooltipTableLatencyColumn, TD.usageTooltipTableNormalColumn {
	color: #CCC;
}

.usageTooltipTableDateColumn {
	white-space: pre;
    font-size: 0.8em !important;
	background: #444;
}

.usageTooltipTableValueColumn, .usageTooltipTableValueWrappingColumn {
    font-size: 0.8em !important;
	background: #444;
	color: #AAA;
	text-align: center;
}

.usageTooltipTableValueWrappingColumn {
	-ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    hyphens: auto;
}
