
.dashboardReloadButton {
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 3px;
	border: 1px solid transparent;
	cursor: pointer;
}

.dashboardReloadButton:HOVER {
	border: 1px solid white;
}

.dashboardTimeSinceLastUpdateLabel {
	width: 60px;
	font-size: 0.7em;	
	margin-left: 10px;
	margin-top: 8px;
}

.methodRootElementBlock {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Has tooltip */
.methodRootElementBlock {
	border-bottom: 1px dotted #88F;
}

.monitorRuleActiveTargetKey {
	font-size: 0.8em;
	color: #808080;
}

.monitorRuleActiveTargetValue {
}

.spinnerElement {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.spinnerStatusMessageStyle {
	white-space: nowrap;
	font-size: 14px;
	font-family: Arial;
	color: #FF0000;
}

.tooltipPopup {
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	border: 1px solid #333;
	max-width: 400px;
	box-shadow: 4px 4px 3px -1px #bbb;
}

.topPanelNodeStatusLabelContents {
	position: absolute;
	bottom: 2px;
	right: 5px;
}

.topPanelNodeStatusLabel {
	font-size: 0.8em;
	color: #ACC;	
}

TABLE.usageTooltipTable {
	border-spacing: 2px;
    font-size: 0.8em !important;	
}

.usageTooltipTableHeaderLabel {
	text-align: center;
}

TD.usageTooltipTableSuccessColumn, TD.usageTooltipTableFaultColumn, 
TD.usageTooltipTableFailColumn, TD.usageTooltipTableSecFailColumn,
TD.monitorRuleActiveCheckTooltipTableColumnHeader {
	background: #444;
    font-size: 0.8em !important;
    font-weight: bold !important;	
}

TD.usageTooltipTableSuccessColumn {
	color: #0C0;
}

TD.usageTooltipTableFaultColumn {
	color: #66C;
}

TD.usageTooltipTableFailColumn {
	color: #F00;
}

TD.usageTooltipTableSecFailColumn {
	color: #FA0;
}

.usageTooltipTableDateColumn {
	white-space: pre;
    font-size: 0.8em !important;
	background: #444;
}

.usageTooltipTableValueColumn {
    font-size: 0.8em !important;
	background: #444;
	text-align: center;
}
