<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ./xsd/web-app_3_0.xsd"
    >

  <!-- Servlets -->
  <servlet>
    <servlet-name>graphServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.GraphServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>modelUpdateServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.ModelUpdateServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>resourceServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.ResourceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>keystoreUploadServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.HttpClientConfigUploadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>httpClientConfigServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.HttpClientConfigServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>miscConfigServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.MiscConfigServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>graphServlet</servlet-name>
    <url-pattern>/graph.png</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>keystoreUploadServlet</servlet-name>
    <url-pattern>/AdminPortal/keystoreUpload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>httpClientConfigServlet</servlet-name>
    <url-pattern>/AdminPortal/httpclientconfig</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>miscConfigServlet</servlet-name>
    <url-pattern>/AdminPortal/miscconfig</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>modelUpdateServlet</servlet-name>
    <url-pattern>/AdminPortal/modelupdate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>resourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AdminPortal.html</welcome-file>
  </welcome-file-list>

</web-app>
