<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  <servlet>
    <servlet-name>modelUpdateServlet</servlet-name>
    <servlet-class>net.svcret.admin.server.rpc.ModelUpdateServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>modelUpdateServlet</servlet-name>
    <url-pattern>/AdminPortal/modelupdate</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AdminPortal.html</welcome-file>
  </welcome-file-list>

</web-app>
